<div class="phx-hero">
  <h2>Hello world, from Phoenix!</h2>
  <p>
    <a href="<%= Routes.hello_path(@conn, :show, "John Doe") %>">
      Go to the messenger page as: John Doe
    </a>
  </p>
</div>
